.attorneyDiv {
  
  width: 100%;
  max-height: 250px;
  height: 100%;
  padding-top: 10px;

  .topDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .text {
    color: #45464E;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    margin-left: 6px;
    text-align: left;
  }
  .coverImage{
    max-width:190px;
    height:114px;
  }
  .yellowBox{
    display: flex;
    background-color:#F7F7F7;
    margin-top: 5px;
    width: 50%;
    border-radius: 8px;
    .yText{
      color: #505673;
      font-weight: 500;
      font-family: 'Montserrat';
      font-size: 12px;
      padding: 5px;
      text-align:left;
    }
  }
}
