.buttonsDiv {
  display: flex;
  justify-content: flex-end;
  max-width: 1400px;
  .editButton {
    color: white;
    width: 6rem;
  }
  .saveButton {
    background-color: green;
    color: white;
    width: 6rem;
  }
  .cancelButton {
    background-color: darkred;
    color: white;
    width: 6rem;
  }
}
.innerScrollDiv {
  width: 100vw;
}
.main {
  margin: 20px;
  max-width: 1000px;

  max-height: 900px;
  .table {
    width: 1500px;
    height: 1200px;
    border-collapse: collapse;
    position: absolute;
    display: block;
    overflow-x: auto;
    tr {
      th {
        text-align: center;
        border-bottom: 1.5px solid #3d3d3d20;
        padding: 10px 0px;
        font-size: 14px;
      }
      td {
        text-align: center;
        border-bottom: 1.5px solid #3d3d3d20;
        padding: 15px 0px;
        .field {
          input {
            height: 30px;
            border-width: 2px;
            border-radius: 5px;
          }
        }
        .datepickerStyle {
          width: 150px;
          height: 30px;
        }
      }
    }
  }
}
