@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.tableContainer{
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  padding: 20px;
  width: 98%;
  margin: 0 auto;
  margin-top: 3px;
  .cb{
  
    //display: flex;

    height: 30px; 
    justify-content: center;
    align-items: center;
  }
  .cbDiv{
    display: flex;
    width: 100;
    justify-content: center;
  }
  .thStyle{
    display: flex;
    font-size: 13px;
    width:40%;
  }
  .thStyle2{
    width:10%;
    font-size: 13px;
 

  }
  .btnClass {
    border: 1px solid #2F80ED;
    background-color: #ffffff !important;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 150px;
    
    span {
      color: #2F80ED !important;
    }
  }
  .btnClass2 {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 150px;
    
    span {
      color: #fff !important;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  

  
 
  
  
  
  input[type="checkbox"] {
    margin: 0;
  }
  

}
