@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.mainDiv {
  max-width: 850px !important;
  height: 300px;
  display: block;
.offListMain{
  height: 100px;
  border: 1px solid #8B8D97;
  border-radius: 12px;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}
.AddBtnDisabled {
  width: 100px;
  background-color: #A6A8B1;
}
  .styLoc {  
    position: relative;
    z-index: 1000;
  }
  .lastTwoBtn{
    display: flex;
    width: 98%;
    flex-direction: row;
    margin-top: 1em;
    justify-content: flex-end;
   
  }
  .modalTitle {

    font-size: 12px;
    color: #8B8D97;
    margin-bottom: 10px;
    text-align: center;
  }
  .iconRefresh {
    display: flex;
    justify-content: center;
    
  
  }
  .p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    text-align: center;
    color: #304059;
  }

  .mainBtnDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btnClassModal {
    height: 40px !important;
    width: 250px;
    background-color: #2F80ED;
  }
  .btnClassUncheckModal {
    height: 40px !important;
    width: 250px;
    background-color: #fff;
    margin-top: 10px;
    
    span {
      color: #304059 !important;
    }
  }
}
h6 {
  font-weight: 600;
  font-size: 16px;
  color: #304059;
  margin-bottom: 5px;
  text-align: center;

}
.btnClassSearch {
  border: 1px solid rgba(47, 128, 237, 1); 
  background-color: #ffffff !important;
  margin-top: 2px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  width: 110px;
  padding-left: calc(5px + (30 - 11) * (100vw - 280px) / (2560 - 280));
  span {
    color:rgba(47, 128, 237, 1) !important;
  }
}
.textField {
  flex: 1;
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
 // margin-right: 20px;
  margin-top: 7px;
 
  flex-direction: row;
  @media (max-width: 1100px) {
    max-width: 400px;
    flex: none;
    min-width: auto;
  }
  .field {
    width:
    420px;
    @media (max-width: 1170px) {
      width:200px;
    }
    input {
      background-color: #F4F5FA !important;
    }
    img {
      height: 14px;
      width: 14px;
      top: 19px;
    }
  }
}
.btnClass {
  width: 100px;
  border: 1px solid #2F80ED;
  background-color: #ffffff !important;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  span {
    color: #2F80ED !important;
  }
}
.btnClass1 {
  width: 100px;

  border: 1px solid #2F80ED;
  background-color: #2F80ED !important;
  margin-top: 0px;
  margin-bottom: 0px;
  span {
    color: #fff !important;
  }
}
.offList{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 50%;
 
}
.fielddropdown{
  flex: 1;
  display: flex;

align-items: center;
 // margin-right: 20px;
  margin-top: 7px;
  min-width: 400px;
  flex-direction: row;
  justify-content: space-between;


  @media (max-width: 1100px) {
    max-width: 400px;
    flex: none;
    min-width: auto;
    @include gridTwo(20, 20);
      margin-top: 20px;
  }
  .field{
    width:430px;
    margin-left: 30px;
   
    @media (max-width: 1170px) {
      width:200px;
    }
  }
 
}
