@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.mainSidebar {
  overflow-y: auto;
  max-height: calc(100vh - 74px);

  .head {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
    .p {
      font-weight: 600;
      font-size: 14px;
      color: #4d6075;
    }
  }
  .innerFirstDiv {
    margin-bottom: 60px;

    .inner1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 20px;
      cursor: pointer;
      &.active {
        background: #39695b;
        p {
          color: #ffffff !important;
        }
      }
      .p {
        font-weight: 700;
        font-size: 14px;
        color: #363636;
      }
      &.inactive:hover {
        background-color: #f8fffd;
        p {
          color: #39695b;
        }
      }
    }
  }
}

.textColor {
  color: #39695b;
  font-weight: 700;
  font-size: 14px;
}

.main {
  position: relative;
  padding-top: 45px;
  .leftIcon {
    position: absolute;
    cursor: pointer;
    right: -6px;
    top: 42px;
  }
  img {
    cursor: pointer;
  }
  .leftIcon2 {
    position: absolute;
    right: -25px;
    top: 42px;
    transform: rotateY(180deg);
  }
}

.showSmall {
  display: none;
  @media (max-width: $md) {
    display: block !important;
  }
}

.hiddenSmall {
  display: block;
  @media (max-width: $md) {
    display: none;
  }
}
