.mainDiv {
  max-width: 380px !important;
  .lastTwoBtn{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 1em;
    padding: 0px 30px 0px 30px;
    justify-content: space-between;
   
  }
  .btnClass1 {
    width: 100px;
  
    border: 1px solid #2F80ED;
    background-color: #2F80ED !important; 
    margin-top: 0px;
    margin-bottom: 0px;
    span {
      color: #fff !important;
    }
  }
  .btnClass {
    width: 100px;
    border: 1px solid #2F80ED;
    background-color: #ffffff !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    span {
      color: #2F80ED !important;
    }
  }
  .modalTitle {
    font-weight: 600;
    font-size: 16px;
    color: #484A54;
    margin-bottom: 10px;
    text-align: center;
  
  }
  .modalTitle2 {

    font-size: 16px;
    color: #484A54;
    margin-bottom: 10px;
    text-align: center;
  
  }
  .iconRefresh {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }
  .p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    text-align: center;
    color: #304059;
  }


  .btnClassModal {
    height: 40px !important;
    width: 250px;
    background-color: #304059;
  }
  .btnClassUncheckModal {
    height: 40px !important;
    width: 250px;
    background-color: #fff;
    margin-top: 10px;
    span {
      color: #304059 !important;
    }
  }
}
h6 {
  font-weight: 600;
  font-size: 18px;
  color: #304059;
  margin-bottom: 5px;
  text-align: center;
}
