@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.main .react-datepicker__day--keyboard-selected {
  border-radius: 5px !important;
}

.react-datepicker__month
  .react-datepicker__week
  .react-datepicker__day--outside-month {
  pointer-events: none !important;
  font-family: Montserrat !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: 0.22px !important;
  color: #3c3844 !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  margin: 10px !important;
  font-family: Montserrat !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: 0.22px !important;
  color: #8b8b8e !important;
}
.react-datepicker__month-container
  .react-datepicker__header
  .react-datepicker__day-names
  .react-datepicker__day-name {
  color: #39695b !important;
  text-transform: uppercase !important;
}

.react-datepicker-popper {
  inset: 18px auto auto 35px !important;
  padding: 0px !important;
  font-family: Montserrat;
  z-index: 5000 !important;
  left: 0px !important;
  overflow-y: hidden !important;
}
.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle {
  display: none !important;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::after {
  display: none !important;
}

.react-datepicker {
  background: #ffffff !important;
  border: none !important;
  border-radius: 8px !important;
  margin-top: 0px !important;
  font-family: Montserrat !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12) !important;
  left: 0;
  right: 0;
  bottom: 0 !important;
  overflow-y: hidden !important;
}
.react-datepicker__header {
  background-color: #ffffff !important;
  border-bottom: none !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #39695b !important;
  border-radius: 50% !important;
  font-size: 14px !important;
  color: white !important;
  font-family: Montserrat;
}
.react-datepicker__year-wrapper{
  max-width: 300px !important;
}
.react-datepicker__year-wrapper .react-datepicker__year-text--selected{
  border-radius: 3px !important;
}