/* DropdownMenu.css */

.dropdown {
  position: relative;
  display: inline-block;
}

.dotIcons {
  cursor: pointer;
}

/* Dropdown content */
.dropdownContent {
  display: block;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 1;
  right: 0; /* Position the dropdown from the right edge */
}

.dropdownContent div {
  cursor: pointer;
  padding: 4px;
}

.dropdownContent div:hover {
  background-color: #ddd;
}
