.main {
//  background-color: grey;
 // padding: 6px 12px;


  border-radius: 4px;
  display: flex;
  width: max-content;
  align-items: center;
  .text {
    font-size: 12px;
    font-weight: 600;
    color: white;
  }
  img {
    margin-left: 6px;
    margin-top: 3px;
    cursor: pointer;
  }
}
