.mainDiv {
  max-width: 430px !important;

  .modalTitle {
    font-size: 12px;
    color: #8B8D97;
    margin-bottom: 10px;
    text-align: center;
    white-space: wrap;
  }
  .iconRefresh {
    display: flex;
    justify-content: center;
    
  
  }
  .p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    text-align: center;
    color: #304059;
  }

  .mainBtnDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .btnClassModal {
    height: 38px !important;
    width: 170px;
    background-color: #2F80ED;
   
  }
  .btnClassModalNull {
    height: 38px !important;
    width: 170px;
    background-color: #fff;
    border:1px solid #2F80ED;
  }
  .btnTextColor{
    color: #2F80ED;
  }
  .btnClassUncheckModal {
    height: 40px !important;
    width: 250px;
    background-color: #fff;
    margin-top: 10px;
    
    span {
      color: #304059 !important;
    }
  }
}
h6 {
  font-weight: 600;
  font-size: 18px;
  color: #304059;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 10px;
}
